@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.red-button {
    @include H3;
    @include tablet {
        width: auto;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red;
    height: 36px;
    padding: 0 16px;
    border-radius: 20px;
    border: none;
    color: $white;
    width: 100%;

    &__image {
        display: block;
    }

    &__noimage {
        display: none;
    }
}
