@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url(../../assets/fonts/TitilliumWeb-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb-SemiBold";
    src: url(../../assets/fonts/TitilliumWeb-SemiBold.ttf);
    font-style: normal;
}
