// _GLOBAL.SCSS //

@use './variables' as *;


* { box-sizing: border-box; }

body {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        $bgColorTop 0,
        $bgColorTop 186px,
        $bgColorBottom 187px,
        $bgColorBottom 100%
    );
    border: 0;
    padding-top: 32px;
    padding-right: 130px;
    padding-left: 130px;
    padding-bottom: 48px;
}


div.header {
    margin: auto;
    min-width: $breakPointDesktop;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-content: center;

    
    &__item {
        margin: 0;
    }

    &__subitem {
        margin: 0;
    }


    &__logo {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        color : $fontColorWhite;     

        background-image: url('../images/logoInstock.png');
        background-repeat:no-repeat;
        background-position-x: 0;
        background-position-y: 6px;
        background-size: 25px;

        padding: 4px 32px;
    }
}


div.card {
    min-width: $breakPointDesktop;
    background-color: $bgColorWhite;

    &__title {
        width: auto;
        padding-top: 32px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &__subitem {
        margin: 0;
        padding: 8px;
    }

    &__body {
        margin: 0;
    }

    &__copy {
        padding: 40px;
    }

    &__footer {
        margin: 0;
        padding: 16px;
        text-align: center;
    }
}


div.modalContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
}

div.modalContainer:target {
    opacity: 1;
    pointer-events: all;
}

.modal {
    margin: auto;
    min-width: 670px;
    max-width: 40rem;
    min-height: 280px;
    background-color: $bgColorWhite;
    padding: 21px;

    &__title {
        margin: 0;
    }

    &__titlebar {
        margin: auto;
        display: flex;
    }

    &__body {
        margin: 0;
    }

    &__buttonbar {
        display: flex;
        justify-content: flex-end;
    }
}


input[type=text].inputText {
    padding: 16px;
    width: 274px;
    height: 38px;
    background: $bgColorWhite;
    border: 1px solid #BDC5D5;
    border-radius: 20px;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $fontColorSlate;
}


button {
    background-color: $bgColorIndigo;
    padding: 8px 16px;
    border: 0;
    border-radius: 20px;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color : $fontColorWhite;
}

button:hover,
button:focus {
    background-color: $bgColorDrkIndigo;
}


button.btnHeader {
    background-color: $bgColorTop;
    padding: 8px 16px;
    margin-left: 8px;
    border: 0;
    border-radius: 20px;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color : $fontColorWhite;
}

button.btnHeader:hover, button.active {
    background-color: $bgColorBlack;
    font-weight: bold;
}


.anchorButton {
    background-color: $bgColorIndigo;
    padding: 8px 16px;
    border: 0;
    border-radius: 20px;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color : $fontColorWhite;
}
  
.anchorButton:hover,
.anchorButton:focus {
    background-color: $bgColorDrkIndigo;
}


.anchorModalButton {
    background-color: $bgColorWhite;
    padding: 8px 16px;
    margin-left: 8px;
    border: 1px solid $bgColorSlate;
    border-radius: 20px;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color : $fontColorSlate;
}
  
.anchorModalButton:hover,
.anchorModalButton:focus {
    color: $fontColorWhite;
    font-weight: bold;
    background-color: $bgColorRed;
}


.anchorModalClose {
    margin-left: auto;
    text-decoration: none;
    font-weight: bold;
    color : $fontColorBlack;
}