// _GLOBAL.SCSS //

@use './variables' as *;


* { box-sizing: border-box; }

body {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        $bgColorTop 0,
        $bgColorTop 186px,
        $bgColorBottom 187px,
        $bgColorBottom 100%
    );
    border: 0;
    padding-top: 32px;
    padding-right: 130px;
    padding-left: 130px;
    padding-bottom: 48px;
}


div.header {
    margin: auto;
    min-width: $breakPointDesktop;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-content: center;

    
    &__item {
        margin: 0;
        //border: 1px solid gold;
    }

    &__subitem {
        margin: 0;
        //border: 1px solid red;
    }


    &__logo {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        color : $fontColorWhite;     

        background-image: url('../images/logoInstock.png');
        background-repeat:no-repeat;
        background-position-x: 0;
        background-position-y: 6px;
        background-size: 25px;

        padding: 4px 32px;
    }
}


div.card {
    min-width: $breakPointDesktop;
    background-color: $bgColorWhite;

    &__title {
        width: auto;
        padding-top: 32px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &__subitem {
        margin: 0;
        padding: 8px;
    }

    &__body {
        margin: 0;
    }

    &__copy {
        padding: 40px;
    }

    &__footer {
        margin: 0;
        padding: 16px;
        text-align: center;
    }
}


input[type=text].inputText {
    padding: 16px;
    width: 274px;
    height: 38px;
    background: $bgColorWhite;
    border: 1px solid #BDC5D5;
    border-radius: 20px;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $fontColorSlate;
}


button {
    background-color: $bgColorIndigo;
    padding: 8px 16px;
    border: 0;
    border-radius: 20px;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color : $fontColorWhite;
}


button.btnHeader {
    background-color: $bgColorTop;
    padding: 8px 16px;
    margin-left: 8px;
    border: 0;
    border-radius: 20px;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color : $fontColorWhite;
}

button.btnHeader:hover, button.active {
    background-color: $bgColorBlack;
    font-weight: bold;
}