@use "variables" as *;
@use "fonts" as *;

// Media Queries

@mixin tablet {
    @media screen and (min-width: $tabletsize) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktopsize) {
        @content;
    }
}

// TypeKit

@mixin page-header {
    @include tablet {
        font-size: 32px;
        line-height: 40px;
    }
    font-family: TitilliumWeb-SemiBold;
    font-size: 28px;
    line-height: 36px;
}

@mixin subheader {
    @include tablet {
        font-size: 24px;
        line-height: 32px;
    }
    font-family: TitilliumWeb-SemiBold;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

@mixin labels {
    @include tablet {
        font-size: 14px;
        line-height: 22px;
    }
    font-family: TitilliumWeb-SemiBold;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
}

@mixin table-header {
    @include tablet {
        font-size: 12px;
        line-height: 18px;
    }
    font-family: TitilliumWeb-SemiBold;
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
}

@mixin body-large {
    @include tablet {
        font-size: 16px;
        line-height: 28px;
    }
    font-family: TitilliumWeb-Regular;
    font-size: 15px;
    line-height: 26px;
}

@mixin body-medium {
    @include tablet {
        font-size: 14px;
        line-height: 22px;
    }
    font-family: TitilliumWeb-Regular;
    font-size: 13px;
    line-height: 20px;
}

@mixin body-small {
    @include tablet {
        font-size: 12px;
        line-height: 18px;
    }
    font-family: TitilliumWeb-Regular;
    font-size: 11px;
    line-height: 16px;
}

// Note: if you set this on your outer most container, it will do the margins automatically for all 3 media. Can remove if prefer not to use this.

@mixin page-sidemargins {
    @include desktop {
        padding: 0;
        width: 1020px;
        margin: auto;
    }
    @include tablet {
        padding: 0 32px;
    }
    padding: 0 16px;
}
