// _VARIABLES.SCSS //


$bgColorBlack : #13182C;
$bgColorBottom : #D1D1D1;
$bgColorIndigo : #2E66E5;
$bgColorTop : #232940;
$bgColorWhite : #FFFFFF;


$fontColorBlack : #13182C;
$fontColorSlate : #5C667E;
$fontColorWhite : #FFFFFF;

$borderColorCloud : #BDC5D5;




//layout fix
// $spine-desktop : 1500px;
// $spine-tablet : 800px;
// $spine-mobile : 380px;

// $bind-desktop : 1480px;
// $bind-tablet : 760px;
// $bind-mobile : 360px;

$breakPointDesktop : 1020px;




















