// PAGETITLE.SCSS //

@use '../../styles/partials/variables' as *;


div.pagetitle {
    width: auto;
    padding-top: 32px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &__subitem {
        margin: 0;
        padding: 8px;
    }
}