// FOOTER.SCSS //

@use './partials/variables' as *;


div.footer {
    margin: 0;
    padding: 16px;
    text-align: center;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;  
    color: #5C667E;
}