// MAIN.SCSS //

@use './partials/variables' as *;


div.main {
    min-width: $breakPointDesktop;
    background-color: $bgColorWhite;

    &__copy {
        padding: 40px;
    }

    &__item {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &__subitem {
        margin: 0;
        padding: 8px;
    }

    &__body {
        margin: 0;
    }

    
}