// MODAL.SCSS //

@use './partials/variables' as *;


div.modalContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
}

div.modalContainer:target {
    opacity: 1;
    pointer-events: all;
}

.modal {
    margin: auto;
    min-width: 670px;
    max-width: 40rem;
    min-height: 280px;
    background-color: $bgColorWhite;
    padding: 21px;

    &__title {
        margin: 0;
    }

    &__titlebar {
        margin: auto;
        display: flex;
    }

    &__body {
        margin: 0;
    }

    &__buttonbar {
        display: flex;
        justify-content: flex-end;
    }
}