// TABLE.SCSS //

@use './partials/variables' as *;


.table {
    width: 100%;
    border-spacing: 0;
    padding-bottom: 50px;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $fontColorBlack;

}

.table th {
    background: $bgColorLgtGray;
    height: 40px;
    padding: 8px 8px;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
}

.table th:nth-of-type(1) { padding-left: 40px; width: 25%; min-width: 140px; }
.table th:nth-of-type(2) { width: 20%; min-width: 100px; }
.table th:nth-of-type(3) { width: 15%; min-width: 70px; }
.table th:nth-of-type(4) { width: 10%; min-width: 50px; }
.table th:nth-of-type(5) { width: 15%; min-width: 70px; }
.table th:nth-of-type(6) { padding-right: 40px; width: 15%; min-width: 70px; }

.table td {
    padding: 8px 8px;
    border-bottom: 1px solid $borderColorCloud;
}

.table td:nth-of-type(1) {
    padding-left: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.table td:nth-of-type(6) {
    padding-right: 40px;
}

.table tr:hover {
    background-color: rgba(46, 102, 230, 0.07);
}

.tableAction {
    margin-right: 8px;
}

.table td.recordError {
    background-color: rgba(201, 69, 21, 0.07);
    height: 400px;
    color: $bgColorRed;
    text-align: center;
}


.btnStatus {
    background: rgba(201, 69, 21, 0.07);
    border: 1px solid $bgColorRed;
    border-radius: 20px;
    padding: 2px 8px;

    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: $bgColorRed;
}

.btnStatus.active {
    background: rgba(21, 132, 99, 0.07);
    border: 1px solid $bgColorGreen;
    color: $fontColorGreen;
}

img.iconAction {
    width: 14px;
    height: 18px;
    cursor: pointer;
    vertical-align: text-bottom;
}