@mixin tablet {
    @media screen and (min-width: 767px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

.anw {
    &__pageheader {
        display: flex;
        border-bottom: #bdc5d5 solid 1px;
        padding: 16px;
        gap: 16px;
    }

    &__title {
        font-size: 28px;
        line-height: 36px;
    }

    &__subheader {
        font-size: 20px;
        line-height: 28px;
        margin: 0 0 24px 0;
    }

    &__new-warehouse-container {
        @include tablet {
            display: flex;
        }
    }

    &__warehouse-details {
        @include tablet {
            border-bottom: none;
            flex-grow: 1;
            border-right: #bdc5d5 solid 1px;
            margin: 24px 0;
            padding: 0 24px;
        }
        border-bottom: #bdc5d5 solid 1px;
        margin: 16px 0;
        padding: 0 16px;
    }

    &__contact-details {
        @include tablet {
            flex-grow: 1;
            margin: 24px 0;
            padding: 0 24px;
        }
        margin: 16px 0;
        padding: 0 16px;
    }

    &__submit {
        @include tablet {
            justify-content: end;
            padding: 24px;
        }

        padding: 16px;
        display: flex;
        gap: 16px;
        background-color: #f7f8f9;
    }
}
