@mixin tablet {
    @media screen and (min-width: 767px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

.white-button {
    @include tablet {
        width: auto;
    }

    background-color: #ffffff;
    height: 36px;
    padding: 0 16px;
    border-radius: 20px;
    border: #bdc5d5 solid 1px;
    font-size: 13px;
    line-height: 20px;
    color: #13182c;
    width: 100%;
}
