// awaiting SCSS partials

// temp Media Breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;

@mixin tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: $desktop-width) {
      @content;
    }
  }

.warehouse-list-item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #BDC5D5;
    margin: auto -24px 27px -24px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 27px;
    }

    h3 {
        @include tablet {
            display: none;
        }
    }

    &__info {
        display: flex;

        & > div {
            width: 50%;
        }

        & h3 {
            margin-bottom: 4px;
        }
    }

    &__name {
        display: flex;
        flex-direction: column;

        & > div {
            display: flex;

            & > p {
                //font color instock-indigo
            }
        }
    }

    &__address {
        display: flex;
        flex-direction: column;

        margin-top: 16px;
    }

    &__contact-info {
        margin-top: 16px;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        margin-top: 19px;
    }
}