.warehouse-input {
    margin-bottom: 16px;

    &__title {
        margin: 0;
        padding-bottom: 4px;
        font-size: 13px;
        line-height: 20px;
    }

    &__input {
        box-sizing: border-box;
        border-radius: 20px;
        border: #bdc5d5 solid 1px;
        width: 100%;
        padding: 0 16px;
        height: 36px;

        &--error {
            @extend .warehouse-input__input;
            border: #c94515 solid 1px;
        }

        &:focus {
            border: #2e66e5 solid 1px;
            outline: none;
        }
    }

    &__error {
        display: flex;
        align-items: center;
        margin-top: 4px;
    }

    &__error-font {
        color: #c94515;
        font-size: 11px;
        line-height: 16px;
    }

    &__error-image {
        display: inline-block;
        padding-right: 4px;
        width: 13px;
    }

    &__nodisplay {
        display: none;
    }
}
